/* Site is not designed for mobile. May go back and fix after learning bootstrap */
:root {
  --primary: rgb(28, 69, 135);
  --secondary: rgb(205, 226, 245);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
header,
footer {
  background-color: var(--primary);
  color: white;
  text-align: center;
  min-height: 10vh;
  max-height: 10vh;
  border: 3px solid black;
}
main {
  min-height: 70vh;
}
#columns {
  column-count: 3;
  column-gap: 1px;
}
#column-0 {
  column-span: none;
  min-width: 21vw;
  min-height: 70vh;
  display: inline-flex;
}
#column-1 {
  column-span: none;
  width: 27em;
  height: 70vh;
  padding-top: 100px;
}
#column-2 {
  padding-top: 20%;
  column-span: none;
  width: 15vw;
  height: 70vh;
  font-size: 12pt;
  float: right;
}
header h1 {
  font-weight: normal;
  font-size: 30pt;
}
main h1 {
  border-top: 18px solid var(--secondary);
  font-weight: normal;
}
#column-2 h3 {
  margin: 0 1em 0 0;
}
#column-2 p {
  font-size: 10pt;
  margin: 0.05em;
}
footer {
  min-height: 20vh;
}
